body {
    font-family: Arial, sans-serif;
    background-color: #fdf4fb;
    margin: 0;
    padding: 20px;
}
 
header {
    background-color: #68034f;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid #68034f
}


h1 {
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    line-height: 1.5;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #68034f;
    font-size: large;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #60084e;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: #60084e 0px 0px 8px;
}

input[type="text"]:focus {
    outline: none;
    border-color: #b377a3;
    box-shadow: #b377a3 0px 0px 8px;
}

#recipe h1 {
    font-size: 24px;
    color: #000;
} 

#recipe h2 {
    font-size: 20px;
    line-height: 1.5;
    color: #333;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

a {
    font-weight: bold;
    color: #68034f;
    text-decoration: none;
}

.container {
    max-width: 600px;
    margin: 60px auto;
    background-color: #f8f4f8;
    padding: 20px;
}

.submit-button {
    background-color: #68034f;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #b377a3;
}

.recipe-output {
    font-size: 16px;
    line-height: 1;
    margin-top: 20px;
    padding: 15px;
    background-color: #e0c6d8;
    border-radius: 4px;
    border-left: #b377a3 8px solid;
    min-height: 200px;
}

.applode {
    font-size: 28px;
}

.hidden {
    display: none;
}
